///////// HEADER ///////////
.app-header {
  padding-right: 1rem;
  .header-menu {
    display: flex;
  }
}

///////// USERS TABLE /////////
.table-pag-flex {
  display: flex;
  justify-content: space-between;

  .submit-button {
    height: 2.2rem;
  }
}
